# *******************************
# Common configuration
# *******************************
BASE_PATH=~/workspace/gpgpu-bench

CUDA_PATH=/usr/local/cuda
CUDA_SDK_PATH=~/workspace/cuda_sdk4
#CUDA_SDK_PATH=~/bin/NVIDIA_GPU_Computing_SDK4

ISPASS_PATH=${BASE_PATH}/ispass2009
RODINIA_PATH=${BASE_PATH}/rodinia_3.1
MARS_PATH=${BASE_PATH}/Mars
